.container-card-habilidade{
    background-color: #fff;
    padding: 2em 1em;
    width: 15%;
    display: flex;
    justify-content: center;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.15) 3.95px 4.95px 2.6px;
    margin: 1em;
}

.conteudo-card-habilidade img{
    width: 5em;
}